{% extends 'front.html.twig' %}

{% block body %}
    <head><script src="https://kit.fontawesome.com/9f0b926b9a.js" crossorigin="anonymous"></script></head>
    <tbody>
            <h1> La liste des vols</h1>
   <form method="post" action="{{ path('recherche_vol') }}">
       <label>Entrer la ville de départ:</label>
       <input id="search" type=text value="" placeholder="type a name">

       <input type="submit" value="Recherche">
   </form>
    <style>
            table{
                border:solid 1px #aaa999;
            }
            table tr th{
                border:solid 1px #aaa999;
                padding:6px 11px;
            }
            table tr td{
                border:solid 1px #aaa999;
                padding:6px 11px;
            }
    </style>
        <table style="border:solid 1px #aaa999;">


                <th>Date vol</th>

                <th>Prix vol</th>
                <th>Ville depart</th>
                <th>Ville arrivée</th>
                <th>Action</th>
            <th>Wishlist</th>
            <th>rating</th>

            <tbody id="body1">

            {% for c in vol %}
                <tr>

                    <td>{{ c.Datevolll|date}}</td>
                    <td>{{ c.prixvolll }}</td>
                    <td>{{ c.destination.villedep }}</td>
                    <td>{{ c.destination.villearr }}</td>
                    <td><a href="{{ path('listres')}}">Réserver</a>
                        </td>
                    <td> <a href="{{path("add", {id: c.id})}}" class="">Ajouter</a>

                    </td>
                    <td><i class="fa fa-star" style="color: black">
                            <i class="fa fa-star" style="color: black"></i>
                            <i class="fa fa-star" style="color: black"></i>
                            <i class="fa fa-star" style="color: black"></i>
                            <i class="fa fa-star" style="color: black"></i>
                            <i class="fa fa-star" style="color: black"></i> </td>

                </tr>

            {% endfor %}
            </tbody>
            <tbody id="searchBody">

            </tbody>
        </table>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#search").keyup(function () {
            var value = $("#search").val();
            if (value === "") {
                $('#searchBody').hide();
                $('#body1').show();
            } else {
                $('#searchBody').show();
                $('#body1').hide();
            }
            $.ajax({
                    type: 'GET',
                    url: 'vol/recherche',
                    data: {
                        'valeur-recherche': value
                    },
                    success: function (retour) {
                        if (retour) {
                            $('#searchBody').empty()
                            $.each(JSON.parse(retour), function (i, obj) {

                                $('#searchBody').append(
                                    "<tr>" +
                                    "    <td>" + obj.date + "</td>" +
                                    "    <td>" + obj.prix + "</td>" +
                                    "    <td>" + obj.destination + "</td>" +
                                    "    <td>" + obj.destination2 + "</td>" +
                                    "        <td>" +
                                    "           <a href='listres/" + obj.id + "'>Réserver" +
                                    "           </a>" +
                                    "        </td>" +
                                    "        <td>" +
                                    "           <a href='add/" + obj.id + "'>Ajouter" +
                                    "           </a>" +
                                    "        </td>" +
                                    "    </tr>"
                                );

                                console.log("wsel");
                            });
                        }
                    },
                }
            );
        })
    </script>
{% endblock %}


